{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/utils.html" as utils %}
{% block title %}{{ show.name }}{% endblock %}
{% block pagecontent %}
  <h1>{{ show.name }}</h1>
  <p>{{ show.date_string }}</p>
  <p><a href="{{ url_for('shows') }}">All shows</a></p>
  <p>
    {% if show.registration_open %} 
      <a href="{{ url_for('register', id=show.id) }}">
          Register for this show
      </a>
    {% else %}
      Registration for this show is closed.
    {% endif %}
  </p>
  <p><a href="{{ url_for('show_edit', id=show.id) }}">Edit show</a></p>
  <h2>Classes</h2>
  {% if show.league_classes|length > 0 %}
    <h3>League</h3>
    <ul>
    {% for class in show.league_classes %}
      <li><a href="{{ url_for('clss', id=class.id) }}">{{ class.name }}</a></li>
    {% endfor %}
    </ul>
  {% endif %}
  {% for day in show.days %}
    {% if day.classes|length > 0 %}
      <h3>Day - {{ day.date }}</h3>
      <ul>
      {% for class in day.classes %}
        <li><a href="{{ url_for('clss', id=class.id) }}">{{ class.name }}</a></li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endfor %}
  <h2>Chits etc.</h2>
  {% if show.numbering_up_to_date %}
    <p>Chit numbering is up to date.</p>
    <p>{{ utils.form_button(url_for('show_number', id=show.id),
                            utils.icon('wrench') + ' Reassign Numbering',
                            class='btn btn-default') }}</p>
    <div class="btn-group">
      <a class="btn btn-default" role="button"
         href="{{ url_for('show_chits', id=show.id) }}">
        {{ utils.icon('download') }} Generate Chits
      </a>
      <button type="button" class="btn btn-default dropdown-toggle"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="{{ url_for('show_chits', id=show.id) }}">A6 (Default)</a></li>
        <li><a href="{{ url_for('show_chits', id=show.id, tiled=1) }}">A4 (Tiled)</a></li>
      </ul>
    </div>
  {% else %}
    <p>Chit numbering is not up to date.</p>
    <p>{{ utils.form_button(url_for('show_number', id=show.id),
                            utils.icon('wrench') + ' Assign Numbering',
                            class='btn btn-default') }}</p>
  {% endif %}
{% endblock %}
